body{
  font-family: WorkSans, Arial, Helvetica, sans-serif;
  color: $text-color;
  background: $bg-color;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex-grow: 1;
}
.container-fluid,
.container-xxl{
  padding-left: 20px;
  padding-right: 20px;
}
.container-xxl{
  @media (min-width: 1400px){
    max-width: 1360px;
  }
}
.title-main{
  margin-bottom: 0;
  font-family: Jakarta, WorkSans, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 1.3;
  @include for-desktop-up{
    font-size: 60px;
  }
}
.subtitle-main{
  max-width: 586px;
  margin: 28px auto 0 auto;
  font-size: 18px;
  color: $gray600;
  &--l{
    @include for-desktop-up{
      font-size: 20px;
    }
  }
}
.title-colored{
  background: linear-gradient(90deg, #121926 0%, #7AC800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-link{
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
  text-decoration: none;
  .icon{
    color: $primaryGreen;
  }
}
.section-main{
  padding-top: 60px;
  padding-bottom: 60px;
  @include for-desktop-up{
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
.section-page{
  padding-top: 60px;
  padding-bottom: 60px;
  @include for-desktop-up{
    padding-top: 300px;
    padding-bottom: 300px;
    &--sm{
      padding-top: 100px;
      padding-bottom: 100px;
    }
    &--s{
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &--xs{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section-header{
  margin-bottom: 60px;
  @include for-desktop-up{
    margin-bottom: 90px;
  }
}
.section-fw{
  padding-left: 20px;
  padding-right: 20px;
  &-inner-gray{
    background: $gray50;
    border-radius: 32px;
  }
  @include for-desktop-small-up{
    padding-left: 60px;
    padding-right: 60px;
    &-inner{
      border-radius: 40px;
    }
  }
}
.breadcrumb{
  flex-wrap: nowrap;
  gap: 4px;
  margin: 24px 0;
  color: $gray400;
  a, &-item{
    font-family: Jakarta, WorkSans, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
  }
  a{
    text-decoration: underline;
  }
  &-item{
    &.active{
      font-weight: 400;
      color: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &+.breadcrumb-item{
      padding-left: 0;
      &:before{
        content: none;
      }
    }
  }
  .icon{
    align-self: center;
    color: inherit;
  }
}
.page-header{
  padding-top: 26px;
  padding-bottom: 90px;
  @include for-desktop-small-up{
    padding-top: 74px;
  }
}
.page-header-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  @include for-desktop-small-up{
    gap: 32px;
  }
  &--gap{
    gap: 28px;
  }
  &--s{
    .page-subtitle{
      max-width: 561px !important;
      margin: 0 auto;
    }
  }
  &--m{
    .page-subtitle{
      max-width: 786px !important;
      margin: 0 auto;
    }
  }
}
.page-title{
  margin: 0;
  margin-bottom: 16px;
  font-family: Jakarta, WorkSans, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  color: $gray900;
  &.mb-l{
    margin-bottom: 34px;
  }
  @include for-desktop-small-up{
    font-size: 60px;
    &.mb-l{
      margin-bottom: 90px;
    }
  }
}
.page-subtitle{
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: $gray700;
  @include for-desktop-small-up{
    font-size: 18px;
  }
  &--s{
    max-width: 491px;
  }
}
.nav-tabs{
  padding: 6px;
  border: 1px solid $gray200;
  border-radius: 26px;
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 4px;
  white-space: nowrap;
  .nav-link{
    margin: 0;
    padding: 8px 12px;
    background: transparent;
    border: 0;
    border-radius: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: $gray;
    &:hover, &.active{
      background: $gray;
      color: $gray25;
      font-weight: 500;
    }
  }
  &-holder{
    padding-bottom: 1px;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
  }
}
.pager{
  &--mt{
    margin-top: 20px;
  }
}
.pagination{
  gap: 2px;
}
.page-item:not(:first-child) .page-link{
  margin-left: 0;
}
.page-link {
  border-radius: 8px !important;
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: $gray500;
  &:hover, &:focus{
    color: $gray800;
    box-shadow: none;
  }
}
.page-item.active .page-link{
  background-color: $gray50;
  color: $gray800;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray50;
  border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray500;
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray700;
}
.structure-custom-list{
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  li{
    display: flex;
    align-items: center;
    gap: 16px;
    color: $gray700;
    &:before{
      content: '';
      flex-shrink: 0;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: $green;
    }
  }
  @include for-desktop-small-up{
    li{
      font-size: 20px;
    }
  }
}
.divided-list{
  display: flex;
  flex-direction: column;
  gap: 60px;
  &-item{
    padding-top: 32px;
    border-top: 1px solid $gray200;
  }
  &-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.45;
    color: $gray900;
  }
  &-text{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    color: $gray600;
  }
  @include for-desktop-small-up{
    margin-left: auto;
    max-width: 890px;
    gap: 80px;
    &-item{
      display: flex;
      justify-content: space-between;
      gap: 110px;
    }
    &-title{
      flex-shrink: 0;
      font-size: 24px;
      width: 14em;
    }
    &-text{
      font-size: 20px;
    }
  }
}
.list-check{
  display: flex;
  flex-direction: column;
  gap: 20px;
  &-item{
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    color: $gray700;
  }
}

.three-cards-grid{
  display: grid;
  gap: 32px;
  @include for-desktop-small-up{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.scroll-row{
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  @media(min-width: 992px){
    flex-wrap: nowrap;
    gap: 24px;
    transform: translateX(var(--x,0%));
    will-change: transform;
    transform-style: preserve-3d;
    &.left{
      justify-content: flex-start;
    }
    &.right{
      margin-top: 53px;
      justify-content: flex-end;
    }
    &-wrapper{
      overflow: hidden;
    }
  }
  @media (max-width: 991px) {
    .clone{
      display: none !important;
    }
  }
}