$primaryDark: #232E50;
$primaryGreen: #7AC800;

$white: #FFFFFF;
$whiteSnow: #F3F5F9;
$black: #000000;
$gray: #1D1D1F;
$green: #7CB932;
$greenDark: #72AB2E;
$greenLight: #B9DF8B;
$red: #B10909;

$gray25: #FCFCFD;
$gray50: #F8FAFC;
$gray100: #EEF2F6;
$gray200: #E3E8EF;
$gray300: #CDD5DF;
$gray400: #9AA4B2;
$gray500: #697586;
$gray600: #4B5565;
$gray700: #364152;
$gray800: #202939;
$gray900: #121926;

$blue25: #F5F8FF;
$grayF4: #F4F4F4;

$ehr: #2970FF;
$terneo: #FFC107;

$bg-color: $white;
$text-color: $gray;
$bg-form: $white;

$btnRadius: 43px;

.fs-24{
  font-size: 24px;
}
.bg-grayF4{
  background-color: $grayF4;
}
.bg-blue25{
  background-color: $blue25;
}
.bg-ehr{
  background-color: $ehr;
}
.color-ehr{
  color: $ehr;
}
.bg-terneo{
  background-color: $terneo;
}
.color-terneo{
  color: $terneo;
}
.color-green-dark{
  color: $greenDark;
}
.color-green-light{
  color: $greenLight;
}
.color-green{
  color: $green;
}
.label--gray{
  background-color: $gray100;
  color: $gray700;
}
.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin for-phone-up {
  @media (min-width: 567px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-desktop-small-up {
  @media (min-width: 1120px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1366px) { @content; }
}